@font-face {font-family: "DINSchrift";
    src: url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.svg#DINSchrift") format("svg"); /* iOS 4.1- */
}

.title{
 font-family:"DINSchrift";
 font-size: 28px;
 color: white;
}

.title:hover,
.title:focus,
.title:active {
    color: #fad7a0 !important;
}

.line {
    border: 1px solid #707070;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    height: 0;
}

.logout {
    width: auto;
    margin: 10px 15px 0;
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    border-radius: 3px;
}