@import url(//db.onlinewebfonts.com/c/f8ca41a58ce597893dd038124df00724?family=DINSchrift);

.title{
 font-family:"DINSchrift";
 font-size: 28px;
 color: white;
}

.title:hover,
.title:focus,
.title:active {
    color: #fad7a0 !important;
}

.line {
    border: 1px solid #707070;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    height: 0;
}

.logout {
    width: auto;
    margin: 10px 15px 0;
    display: block;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms linear;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    border-radius: 3px;
}