@import url(//db.onlinewebfonts.com/c/f8ca41a58ce597893dd038124df00724?family=DINSchrift);

.title{
 font-family:"DINSchrift";
}

.title2{
    font-family:"DINSchrift";
    font-size: 78px;
}

.line {
    border: 1px solid #707070;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    height: 0;
}