@import url(//db.onlinewebfonts.com/c/f8ca41a58ce597893dd038124df00724?family=DINSchrift);
@import url(//db.onlinewebfonts.com/c/76e8830038ab225cdb852f902d207c72?family=DINNeuzeitGroteskLTW01-Lt);
.title {
 font-family:"DINSchrift";
}

.title2 {
    font-family:"DINSchrift";
    font-size: 78px;
    color: white;
}

.title3 {
    font-family:"DINSchrift";
    font-size: 37px;
    color: black;
    margin-top: 20px;
}

.title4 {
    font-family:"DINNeuzeitGroteskLTW01-Lt";
    line-height: 40px;
    color: black;
}

.title5 {
    font-size: 40px;
    font-family:"DINSchrift";
    margin-left: 110px;
    color: #333333;
   }

.line {
    border: 1px solid #707070;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    height: 0;
}

.line2 {
    border: 1px solid #333333;
    margin-left: 110px;
    margin-right: 80px;
    margin-top: 35px;
    height: 0px;
    margin-bottom: 40px;
    background-color: #333333;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .borderTopLeft {
    position: absolute;
    top: 0px;
    left: 100px;
    border: 2px solid rgb(243, 196, 57);
    background-color: rgb(235, 192, 65);
    color: black;
    opacity: 0.8;
    padding-right: 36%;
    padding-bottom: 37.95%;
  }

  .textTopLeft {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 36.2%;
    margin-top: 90px;
    text-align: left;
  }
  .navLink {
      color:white;
  }
  .navLink:focus,
  .navLink:hover,
  .navLink:active{
      color:white;
  }