@font-face {font-family: "DINSchrift";
    src: url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/f8ca41a58ce597893dd038124df00724.svg#DINSchrift") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "DINNeuzeitGroteskLTW01-Lt";
    src: url("https://db.onlinewebfonts.com/t/76e8830038ab225cdb852f902d207c72.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/76e8830038ab225cdb852f902d207c72.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/76e8830038ab225cdb852f902d207c72.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/76e8830038ab225cdb852f902d207c72.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/76e8830038ab225cdb852f902d207c72.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/76e8830038ab225cdb852f902d207c72.svg#DINNeuzeitGroteskLTW01-Lt") format("svg"); /* iOS 4.1- */
}
.title {
 font-family:"DINSchrift";
}

.title2 {
    font-family:"DINSchrift";
    font-size: 78px;
    color: white;
}

.title3 {
    font-family:"DINSchrift";
    font-size: 37px;
    color: black;
    margin-top: 20px;
}

.title4 {
    font-family:"DINNeuzeitGroteskLTW01-Lt";
    line-height: 40px;
    color: black;
}

.title5 {
    font-size: 40px;
    font-family:"DINSchrift";
    margin-left: 110px;
    color: #333333;
   }

.line {
    border: 1px solid #707070;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 80px;
    height: 0;
}

.line3 {
  border: 1px solid #fcd032;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 20px;
  height: 0;
}

.line4 {
  border: 1px solid #fcd032;
  margin-left: 115px;
  margin-right: 115px;
  margin-top: 20px;
  height: 0;
}

.line2 {
    border: 1px solid #333333;
    margin-left: 110px;
    margin-right: 80px;
    margin-top: 35px;
    height: 0px;
    margin-bottom: 40px;
    background-color: #333333;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .borderTopLeft {
    position: absolute;
    top: 0px;
    left: 100px;
    border: 2px solid rgb(243, 196, 57);
    background-color: rgb(235, 192, 65);
    color: black;
    opacity: 0.8;
    padding-right: 36%;
    padding-bottom: 37.95%;
  }

  .textTopLeft {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 36.2%;
    margin-top: 90px;
    text-align: left;
  }
  .navLink {
      color:white;
      font-size: 0.875rem;
      line-height: 1.333333;
  }
  .navLink:focus,
  .navLink:hover,
  .navLink:active{
      color:white;
  }

  .cardCategoryWhite {
    color: rgba(255,255,255,.62);
    margin: 0;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
.cardTitleWhite {
    color: #FFFFFF;
    margin-top: 0px;
    min-height: auto;
    font-weight: 300;
    font-family: "DINSchrift";
    font-size: 25px;
    margin-bottom: 3px;
    text-decoration: none;
  }

  
.card {
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: "all 300ms linear"
  }